@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;

}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


.container{
  /* background-color: yellow; */
  display: grid;
  gap: 10px;
  grid-template-columns: 200px 200px 200px;
  grid-template-rows: 200px 200px;

}

.item{
  background-color: purple;
}